<div id="matches">
 
    <div class="widget-body">

        <h3>Matches</h3>

        <div data-role="grid"
                 data-columns="[
                     { 'field': 'country', 'title': 'Country' },
                     { 'field': 'fifa_code', 'title': 'FIFA Code', 'width':'150', 'minScreenWidth':'550'},
                     { 'field': 'wins', 'title': 'Wins', 'width':'150', 'minScreenWidth':'600'},
                     { 'field': 'draws', 'title': 'Draws', 'width':'150', 'minScreenWidth':'650'},
                     { 'field': 'losses', 'title': 'Losses', 'width':'250', 'minScreenWidth':'700' }]"
                 data-scrollable="false"
                 data-filterable="true"
                 data-sortable="true"
                 data-bind="source: teams">
        </div>
    
    </div>
                
</div>

          
