<div id="main-content">

<div class="widget">
<h1>New homepage</h1>
</div>

    <!--<div data-role="tabstrip" class="widget">
    
  <ul>
       <li class="k-state-active">
           USA
       </li>
       <li>
           Canada
       </li>
       <li>
           Japan
       </li>
       <li>
           France
       </li>
   </ul>

  <div>

  <h3>US National Team 2015 Roster</h3>

    <div class="row">
        <div class="col-1-4">
          <div class="card">
            <img src="images/shannon_boxx.jpg"/>
            <h4>Shannon Boxx</h4>
          </div>
        </div>
        <div class="col-1-4">
          <div class="card">
            <img src="images/morgan_brian.jpg"/>
            <h4>Morgan Brian</h4>
          </div>
        </div>
        <div class="col-1-4">
          <div class="card">
            <img src="images/lori_chalupny.jpg"/>
            <h4>Lori Chalupny</h4>
          </div>
        </div>           
      </div>
          
    <div class="row">
      <div class="col-1-4">
        <div class="card">
          <img src="images/whitney_engen.jpg"/>
          <h4>Whitney Engen</h4>
        </div>
      </div>
      <div class="col-1-4">
        <div class="card">
          <img src="images/ashlyn_harris.jpg"/>
          <h4>Ashlyn Harris</h4>
        </div>
      </div>
      <div class="col-1-4">
        <div class="card">
          <img src="images/tobin_heath.jpg"/>
          <h4>Tobin Heath</h4>
        </div>
      </div>           
    </div>

    <div class="row">
      <div class="col-1-4">
        <div class="card">
          <img src="images/lauren_holiday.jpg"/>
          <h4>Lauren Holiday</h4>
        </div>
      </div>
      <div class="col-1-4">
        <div class="card">
          <img src="images/julie_johnston.jpg"/>
          <h4>Julie Johnston</h4>
        </div>
      </div>
      <div class="col-1-4">
        <div class="card">
          <img src="images/meghan_klingenberg.jpg"/>
          <h4>Meghan Klingenberg</h4>
        </div>
      </div>           
    </div>         
</div>

<div>
  <h3>Canadian National Team</h3>

    <div class="row">
      <div class="col-1-4">
        <div class="card">
          <img src="images/janine_beckie.jpg"/>
          <h4>Janine Beckie</h4>
        </div>
      </div>
      <div class="col-1-4">
        <div class="card">
          <img src="images/kadeisha_buchanan.jpg"/>
          <h4>Kadeisha Buchanan</h4>
        </div>
      </div>
      <div class="col-1-4">
        <div class="card">
          <img src="images/gabrielle_carle.jpg"/>
          <h4>Gabrielle Carle</h4>
        </div>
      </div>           
    </div>
</div>

<div>
  <h3>Japanese National Team</h3>
    
    <div class="row">
      <div class="col-1-4">
        <div class="card">
          <img src="images/ando_kozue.jpg"/>
          <h4>Ando Kozue</h4>
        </div>
      </div>
      <div class="col-1-4">
        <div class="card">
          <img src="images/iwabuchi_mana.jpg"/>
          <h4>Iwabuchi Mana</h4>
        </div>
      </div>
      <div class="col-1-4">
        <div class="card">
          <img src="images/utsugi_rumi.jpg"/>
          <h4>Utsugi Rumi</h4>
        </div>
      </div>           
    </div>
</div>

<div>
  <h3>French National Team</h3>
    
    <div class="row">
      <div class="col-1-4">
        <div class="card">
          <img src="images/laure_lepailleur.jpg"/>
          <h4>Laure Lepailleur</h4>
        </div>
      </div>
    <div class="col-1-4">
      <div class="card">
        <img src="images/pauline_crammer.jpg"/>
        <h4>Pauline Crammer</h4>
      </div>
    </div>
    <div class="col-1-4">
      <div class="card">
        <img src="images/sonia_bompastor.jpg"/>
        <h4>Sonia Bompastor</h4>
      </div>
    </div>           
  </div>

</div>
 
</div>-->
 
</div>

          
