<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
  
  <!-- q2-hero -->
  <div class="container">
    <div class="hero-unit">
      <h2>Please Sign In</h2>
      <form class="form-inline" action="/login" method="POST">
        <input type="text" id="inputUsername" placeholder="Username" name="username">
        <input type="password" id="inputPassword" placeholder="Password">
        <button type="submit" class="btn">Sign in</button>
      </form>
    </div>
  </div>

</body>
</html>