<div id="contact">
 
    <div class="widget-body">

        <h3>Submit your best Fan Fiction!</h3>

        <textarea id="editor" data-role="editor"
            data-tools="[
                'bold',
                'italic',
                'underline',
                'strikethrough',
                'justifyLeft',
                'justifyCenter',
                'justifyRight',
                'justifyFull',
                'insertUnorderedList',
                'insertOrderedList',
                'indent',
                'outdent',
                'createLink',
                'unlink',
                'insertImage',
                'insertFile',
                'subscript',
                'superscript',
                'createTable',
                'addRowAbove',
                'addRowBelow',
                'addColumnLeft',
                'addColumnRight',
                'deleteRow',
                'deleteColumn',
                'viewHtml',
                'formatting',
                'cleanFormatting',
                'print'
            ]"
            style="height: 200px;"
            data-resizable="{toolbar:true}">
        </textarea>
        
        <button class="submit-button" data-role="button">Submit</button>

    </div>
                
</div>

          
