<div class="k-header">
          
    <div class="k-block">
              
        <span id="iconTextButton" data-role="button" class="k-rpanel-toggle k-button k-button-icontext" role="button" aria-disabled="false" tabindex="0">  
            <span class="k-sprite k-icon k-i-hbars"></span>
        </span>
              
        <img class="logo" src="images/wcf.png"/>

        <div id="toolbar"></div>
          
    </div>
        
</div>

<div class="panel-wrap">
            
    <div id="sidebar">                
                
        <div id="left-nav" class="widget">
                    
            <div>
                        
                <div class="profile">
                    <a href="#/">Meet The Players</a>
                </div>
                        
                <div class="profile">
                    <a href="#/matches">Matches</a>
                </div>
                        
                <div class="profile">
                    <a href="#/roster">Team Rosters</a>
                </div>

                <div class="profile">
                    <a href="#/results">Results</a>
                </div>

                <div class="profile">
                    <a href="#/scheduler">Schedule a Fan Event</a>
                </div>

                <div class="profile">
                    <a href="#/editor">Fan Fiction Editor</a>
                </div>
                    
            </div>
                
        </div>
            
    </div>


<div class="container" id="content"></div>

</div>

