<% layout('../layout') -%>

<div class="row">
  <div class="col-xs-12 no-margin">
    <div id="employees"></div>
  </div>
</div>

<% script('../js/mgmt-employees-data.js') -%>
<% script('../js/mgmt-employees.js') -%>

