
<div data-role="view" id="settings" data-title="Settings" data-layout="main">
    <h2>Sharing</h2>
    <ul data-role="listview" data-style="inset">
        <li>Share to Twitter
            <input data-role="switch" />
        </li>
        <li>Share to Facebook
            <input data-role="switch" />
        </li>
    </ul>
    <h2>Notifications</h2>
    <ul data-role="listview" data-style="inset">
        <li>Notify Me
            <select data-role="dropdownlist">
                <option value="0">Daily</option>
                <option value="1">Weekly</option>
                <option value="2">Never</option>
            </select>
        </li>
    </ul>
</div>
