<div id="friends" data-role="view" data-layout="main" data-title="Friends">
    <ul data-role="buttongroup" data-index="1">
        <li>Besties
        </li>
        <li>Frenemies
        </li>
    </ul>
    <ul data-role="listview" data-style="inset">
        <li>Todd<a data-role="detailbutton" data-style="rowdelete" data-click="APP.removeFriend"></a></li>
        <li>Korchev<a data-role="detailbutton" data-style="rowdelete" data-click="APP.removeFriend"></a></li>
        <li>Brandon<a data-role="detailbutton" data-style="rowdelete" data-click="APP.removeFriend"></a></li>
        <li>Rob<a data-role="detailbutton" data-style="rowdelete" data-click="APP.removeFriend"></a></li>
        <li>Derick<a data-role="detailbutton" data-style="rowdelete" data-click="APP.removeFriend"></a></li>
        <li>Petyo<a data-role="detailbutton" data-style="rowdelete" data-click="APP.removeFriend"></a></li>
        <li>Kamen<a data-role="detailbutton" data-style="rowdelete" data-click="APP.removeFriend"></a></li>
    </ul>
</div>
