<header id="nav">
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button data-toggle="collapse" data-target=".navbar-collapse" class="button navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button id="toggle" type="button" class="navbar-toggle hidden">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><img src="/images/pollos-banner.png" class="hidden-xs">
          <span class="visible-xs">Los Pollos</span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"> D<span class="menu-box">As</span>hboard <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> 
            <a href="/demos/locations">Locations</a>
            </li>
            <li> 
            <a href="/demos/statistics">Statistics</a>
            </li>
          </ul>
          </li>
          <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Ma<span class="menu-box">Na</span>gement <b class="caret"></b></a><ul class="dropdown-menu">
            <li> 
            <a href="/demos/employees">Employees</a>
            <a href="/demos/schedule">Schedule</a>
            </li>
          </ul>
          </li>
          <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Loca<span class="menu-box">Ti</span>ons <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
            <a href="/demos/maps">Maps</a>
            </li>
            <li>
            <a href="/demos/maps-custom-controls">Maps With Custom Controls</a>
            </li>
            <li>
            <a href="/demos/maps-geojson">Other Maps</a>
            </li>
            <li>
            <a href="/demos/maps-overlord">Geo-CAT</a>
            </li>
            <li>
            <a href="/demos/bootstrap">BootStrap</a>
            </li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="container">
