<% layout('layout') -%>
<h1>Welcome</h1>
<p>This is a demo application written using the <a href="http://expressjs.com/">Express web framework</a> running on NodeJS with <a href="http://www.everlive.com">Telerik Everlive</a> as a backend data store.</p>
<p>For demo purposes, the user account associated with this application has only read access, so no updates to the database will be allowed.</p>