doctype 5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=US-ASCII")

    title Kendo UI: Q3 2013 Release Demos

    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css")
    link(rel="stylesheet", href="/telerik-navbar/css/nav-style.css")
    link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="/kendoui/styles/kendo.common.min.css")
    link(rel="stylesheet", type="text/css", href="/kendoui/styles/kendo.bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/kendoui/styles/kendo.dataviz.min.css")
    link(rel="stylesheet", type="text/css", href="/kendoui/styles/kendo.dataviz.bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/css/inverse.css")

    block css

    block main_js
      script(src="/jquery/jquery.js")
      script(src="/kendoui/js/kendo.all.min.js")
      script(src="/bootstrap/js/bootstrap.min.js")

    block javascripts

  body
    include _header.html
    block content
    include _footer.html
